<nav class="navbar navbar-expand-lg shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/about">View</a></li>
                        <li><a class="dropdown-item" href="/about/create">Create</a></li>
                        <li><a class="dropdown-item" href="/about/update">Update</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/search">Search</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/courses" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Course
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/courses">View</a></li>
                        <li><a class="dropdown-item" href="/courses/create">Create</a></li>
                        <li><a class="dropdown-item" href="/courses/update">Update</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        News
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/news">View</a></li>
                        <li><a class="dropdown-item" href="/news/create">Create</a></li>
                        <li><a class="dropdown-item" href="/news/update">Update</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/me/stored/courses">Khoá học của tôi</a></li>
                        <li><a class="dropdown-item" href="/me/stored/news">Bài viết của tôi</a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
    </div>
</nav>